<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :名前 %>
    <%= form.text_field :name, id: :user_name %>
  </div>

  <div class="field">
   <%= form.label :性別 %>
   <%= form.number_field :gender, id: :user_gender %>
  </div>

  <div class="field">
    <%= form.label :プロフィール画像 %>
    <%= form.file_field :filename, id: :user_filename %>
  </div>

  <div class="field">
    <%= form.label :Ｑ1，犬か猫どっち派？0が犬で1が猫です。 %>
    <%= form.number_field :q1, id: :user_q1 %>
  </div>

  <div class="field">
    <%= form.label :Ｑ2，人と仲良くなる時は一緒に騒ぎあうか語り合うかどっち派？0が騒ぎあうで1が語り合うです。 %>
    <%= form.number_field :q2, id: :user_q2 %>
  </div>

  <div class="field">
    <%= form.label :Ｑ3，遊びに行くなら？0が遊園地、1が夜景、2が家、3が夜景です。 %>
    <%= form.number_field :q3, id: :user_q3 %>
  </div>

  <div class="field">
    <%= form.label :Ｑ4，好きな音楽のジャンルは？0がケーポップ、1がジャニーズ、2が邦ロック、3がエルディーエイチ、4が洋楽です。 %>
    <%= form.number_field :q4, id: :user_q4 %>
  </div>

  <div class="field">
    <%= form.label :Ｑ5，金銭感覚どっち派？0がケチ、1が荒いです。 %>
    <%= form.number_field :q5, id: :user_q5 %>
  </div>

  <div class="field">
    <%= form.label :Ｑ6，あなたの時間の使い方は？0がせっかち、1がのんびりです。 %>
    <%= form.number_field :q6, id: :user_q6 %>
  </div>

  <div class="field">
    <%= form.label :Ｑ7，あなたの決断力は？0が優柔不断、1がすぐに決断できるです。 %>
    <%= form.number_field :q7, id: :user_q7 %>
  </div>

  <div class="field">
    <%= form.label :Ｑ8，ラーメンかうどんどっち派？0がラーメン、1がうどんです。 %>
    <%= form.number_field :q8, id: :user_q8 %>
  </div>

  <div class="field">
    <%= form.label :Ｑ9，将来島根を出たい？0が出たくない、1が出たいです。 %>
    <%= form.number_field :q9, id: :user_q9 %>
  </div>

  <div class="field">
    <%= form.label :Ｑ10，好きな季節は？0が春、1が夏、2が秋、3が冬です。 %>
    <%= form.number_field :q10, id: :user_q10 %>
  </div>

  <div class="field">
    <%= form.label :Ｑ11，好きなゲームは？0がシュミレーション、1がアクション、2がロールプレイング、3がパズル、4がレース、5がなしです。 %>
    <%= form.number_field :q11, id: :user_q11 %>
  </div>

  <div class="field">
    <%= form.label :Ｑ12，あなたの趣味は？0が読書、1がアニメ、2が映画、3がドラマ、4が音楽、5がスポーツ、6が料理、7が釣り、8がYoutube・ティックトック、9がゲーム、10が旅行です。 %>
    <%= form.number_field :q12, id: :user_q12 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
