<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :パスワード %>
    <%= form.number_field :password, id: :user_password %>
  </div>

  <div class="field">
    <%= form.label :名前 %>
    <%= form.text_field :name, id: :user_name %>
  </div>

  <div class="field">
    <%= form.label :性別 %>
    <%= form.number_field :gender, id: :user_gender %>
  </div>


  <div class="field">
    <%= form.label :ログインID %>
    <%= form.text_field :user_id, id: :user_user_id %>
  </div>

  <div class="field">
    <%= form.label :権限 %>
    <%= form.number_field :authority, id: :user_authority %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
