<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
    <%= form.label :filename %>
    <%= form.text_field :filename, id: :user_filename %>
  </div>

  <div class="field">
    <%= form.label :q1 %>
    <%= form.number_field :q1, id: :user_q1 %>
  </div>

  <div class="field">
    <%= form.label :q2 %>
    <%= form.number_field :q2, id: :user_q2 %>
  </div>

  <div class="field">
    <%= form.label :q3 %>
    <%= form.number_field :q3, id: :user_q3 %>
  </div>

  <div class="field">
    <%= form.label :q4 %>
    <%= form.number_field :q4, id: :user_q4 %>
  </div>

  <div class="field">
    <%= form.label :q5 %>
    <%= form.number_field :q5, id: :user_q5 %>
  </div>

  <div class="field">
    <%= form.label :q6 %>
    <%= form.number_field :q6, id: :user_q6 %>
  </div>

  <div class="field">
    <%= form.label :q7 %>
    <%= form.number_field :q7, id: :user_q7 %>
  </div>

  <div class="field">
    <%= form.label :q8 %>
    <%= form.number_field :q8, id: :user_q8 %>
  </div>

  <div class="field">
    <%= form.label :q9 %>
    <%= form.number_field :q9, id: :user_q9 %>
  </div>

  <div class="field">
    <%= form.label :q10 %>
    <%= form.number_field :q10, id: :user_q10 %>
  </div>

  <div class="field">
    <%= form.label :q11 %>
    <%= form.number_field :q11, id: :user_q11 %>
  </div>

  <div class="field">
    <%= form.label :q12 %>
    <%= form.number_field :q12, id: :user_q12 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
