<tbody>
<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.gender %></td>
    <td><%= user.filename %></td>
    <td><%= user.q1 %></td>
    <td><%= user.q2 %></td>
    <td><%= user.q3 %></td>
    <td><%= user.q4 %></td>
    <td><%= user.q5 %></td>
    <td><%= user.q6 %></td>
    <td><%= user.q7 %></td>
    <td><%= user.q8 %></td>
    <td><%= user.q9 %></td>
    <td><%= user.q10 %></td>
    <td><%= user.q11 %></td>
    <td><%= user.q12 %></td>
    <% end %>
    </tbody>