<body class="top">

 <h3 class="maru-box">友達一覧</h3>

 <p id="notice"><%= notice %></p>

 <table>
   <thead>
     <tr>
       <th>相手の名前</th>
       <th colspan="3"></th>
     </tr>
   </thead>

   <tbody>
     <% @rooms.each_with_index do |room, index| %>
       <tr>
         
         <td><%= @user_list[index] %></td>
         <td><%= link_to 'チャット', room_path(room) %></td>
         <td><%= link_to '編集', edit_room_path(room) %></td>
         <td><%= link_to '削除', room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
       </tr>
     <% end %>
   </tbody>
 </table>

 <br>

 <%= link_to 'ログアウト', :auth_logout, method: :delete %>

 <h2 class="plf">プロフィール</h2>

 <h2 class="filename">
 <% if @user.filename.present? %>
   <%= image_tag @user.filename, :width => "300px"%>
 <% end %>
 </h2>

 <h2 class="name">
 名前
   <%= @user.name %>
 </h2>

 <h4 class="matching_button"> <%= link_to '+マッチング','/matching' %> </h4>

 <p class="plf_button"> <%= link_to 'プロフィール編集','/plf' %> </p>

</body>