<h3>友達一覧</h3>

<p id="notice"><%= notice %></p>

<h1>ルーム一覧</h1>

<table>
  <thead>
    <tr>
      <th>パートナーID</th>
      <th>ルームID</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td><%= room.user_id2 %></td>
        <td><%= room.room_id %></td>
        <td><%= link_to 'チャット', room_path(room) %></td>
        <td><%= link_to '編集', edit_room_path(room) %></td>
        <td><%= link_to '削除', room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規登録', new_room_path %>
<%= link_to 'ログアウト', :auth_logout, method: :delete %>

<h2>プロフィール</h2>

<h2 class="filename">
<% if @user.filename.present? %>
  <%= image_tag @user.filename %>
<% end %>
</h2>

<h2 class="name">
  <%= @user.name %>
</h2>

<h4> <%= link_to '+マッチング','/matching' %> </h4>

<p> <%= link_to 'プロフィール編集','/plf' %> </p>

