<%= form_with(model: room, local: true) do |form| %>
   
    <div class="field">
      <%= form.label :ルームID %>
      <%= form.number_field :room_id, id: :room_room_id %>
    </div>
  
  
    <div class="field">
      <%= form.label :マイID %>
      <%= form.text_field :user_id1, id: :room_user_id1 %>
    </div>
  
    <div class="field">
      <%= form.label :パートナーID %>
      <%= form.text_field :user_id2, id: :room_user_id2 %>
    </div>
  
  
    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
  